body {background-color: rgb(225, 225, 212);}
div {
    color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
img
{
    border-radius: 15px;
    border-color: rgb(224, 21, 21);
    border-style: solid;
    border-width: 3px;
    margin: 20px;
    filter: invert(1);
    width: 100px;
    height: 100px;
    
    background-image: linear-gradient
    (
    rgba(197, 197, 197, 0.771),
    rgb(123, 123, 123)
  );
}

img:hover
{
    filter: invert(1) blur(5px);
}